<ul class="list-unstyled" id="render-info">
    <li>Rendered: {{ rendered_at }}</li>
    <li>Source: {{ timeline_name }}</li>
    <li>Hours: {{ hours }}</li>
    <li>Scorer: {{ scorer }}</li>
    <li>Threshold: {{ threshold }}</li>
</ul>